body {
	margin: 0;
}

.site-container {
	width: 100%;
}

.image-grid-container {
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	z-index: 0;
}

.selected-image-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 85%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or "contain" */
} 

.flipped {
	transform: scaleY(-1) scaleX(-1);
}

.sidebar {
	display: none;
}

/* Screens 600px or wider */
@media (min-width: 600px) {
	.main-container {
		display: grid;
		grid-template-columns: 1fr 600px 1fr; /* Middle column fixed at 600px, others flexible */
		height: 100vh; /* Optional: Makes it fill the viewport */
	}

	.selected-image-overlay {
		width: 85%;
		max-width: 510px; /* 85% of the fixed 600px column */
	  }

	.sidebar {
		display: block;
	}
}