body {
	margin: 0;
}

.site-container {
	width: 100%;
}

.image-grid-container {
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or "contain" */
} 

.sidebar {
	display: none;
}

/* Screens 600px or wider */
@media (min-width: 600px) {
	.main-container {
		display: grid;
		grid-template-columns: 1fr 600px 1fr; /* Middle column fixed at 600px, others flexible */
		height: 100vh; /* Optional: Makes it fill the viewport */
	}

	.sidebar {
		display: block;
	}
}